ul{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

a{
	&:hover{
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
}

input, button, textarea {
	outline: none;
}
body{
	margin:0px;
}

$blue-light: #bfd1e1;
$blue: #0076be;
$dark-blue: #00468b;
$dark-gray: #333740;
$gray: #666970;
$white: #fafafa;
$red: #dc3522;