html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

ul{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

a {
    text-decoration: none;
	&:hover{
		text-decoration: none;
    color: #8E8E8E !important;
	}
	&:focus{
		text-decoration: none;
	}
}

input, button, textarea {
	outline: none;
}
body{
	margin:0px;
    font-family: AvenirLTStd;
}

p {
  color:  #333740;
  font-size: 18px;
  line-height: 28px;
}

strong {
  color:  #333740;
}

.utility-center-row{
  @include display(flex);
  @include justify-content(center); 
}
.utility--stack-col{
  @include display(flex);
  @include flex-direction(column);
}