.wrap-outer{
  @include display(flex);
  @include justify-content(center);
  width: 100%;
}
 
.container-90{
  width: 90%;
}

.container-80{
  width: 80%;
}



// 44% 56% Grid
.grid-44-56-outer-wrap{
  @include display(flex);

  // border-top: 1px solid $bg_light-gray;
  // border-bottom: 1px solid $bg_light-gray;

  .grid-item-44-wrap{
    @include display(flex);
    @include flex-basis(44%);
  }

  .grid-item-56-wrap{
    @include display('flex');
    @include flex-basis(56%);
  }

  @media screen and (max-width: 767px){
    @include flex-wrap(wrap);
    .grid-item-56-wrap, .grid-item-44-wrap{
      @include flex-basis(100%);
    }

    .grid-item-56-wrap{
      @include order(-1);
    }


  }

} 


// 50% 50% Grid

.grid-50-50-outer-wrap {

  @include display(flex);

  .grid-item-50-wrap {
    @include flex-grow(1);
  }

  @media screen and (max-width: 767px){
    @include flex-wrap(wrap);
    .grid-item-50-wrap{
      @include flex-basis(100%);
    }
  }

}



// 100% Grid

.grid-100-outer-wrap {

  @include display(flex);
  @include justify-content(center);

  .grid-item-100-wrap {
    @include flex-basis(40%);
    text-align: center;
    font-family: AvenirLTStd;
    margin: 3% auto;
  }
}





// 60% 40% Grid
.grid-60-40-outer-wrap{
  @include display(flex);
  margin: 5% 0;
  // border-top: 1px solid $bg_light-gray;
  // border-bottom: 1px solid $bg_light-gray;

  .grid-item-60-wrap{
    @include display(flex);
    @include flex-basis(60%);
  }

  .grid-item-40-wrap{
    @include display('flex');
    @include flex-basis(40%);
  }

  @media screen and (max-width: 767px){
    @include flex-wrap(wrap);
    .grid-item-60-wrap, .grid-item-40-wrap{
      @include flex-basis(100%);
    }

    .grid-item-60-wrap{
      @include order(-1);
    }


  }

}


.how-it-works {
  background: url("/images/home-how-buildgrid-works.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: $white;
  p, strong {
    color: $white;
  }
}


.developer-interest-image {
  background: url("/images/home-developer-interest.png") 50% 50% no-repeat;
  background-size: cover;
}

.easily-accessible-image {
  background: url("/images/home-easy-access.jpg") 50% 50% no-repeat;
  background-size: cover;
}


// img

[class^=grid-item] img {
  @include size(100%);
}

.transparency-section [class^=grid-item] img {
  @include size(90%);
}

[class^=grid-item] .copy {
  padding: 6% 0 6% 8%;
  @include flex-basis(80%);

  @media screen and (max-width: 767px){
    padding: 5%;
    @include flex-basis(100%);
    }

}

.fcenter {
  @include align-items(center);
}


// transparency-section

.transparency-section {
  background-color: $white;
  border-top: 1px solid $light-gray-border;
  border-bottom: 1px solid $light-gray-border;
}

.transparency-section .grid-item-56-wrap, .developer-interest-section .grid-item-60-wrap, .contact-form .grid-item-60-wrap {
  @include justify-content(center);
}

// Easy 123

.as-easy-123 {
  margin-bottom: 80px;
  @include align-items(stretch);
}

.step {
  @include flex-basis(400px);
  cursor: pointer;
  margin: auto 20px;
  padding: 20px;
  border-radius:4px;
  border: 2px solid $bg_light-gray;
  @include transition(.4s border ease-out);
  img {
    display: block;
    margin-bottom: 20px;
  }
  .bg-blue {
    color: $bg_dark_blue;
    @include transition(.3s color ease-out);
  }

  &:hover {
    border: 2px solid $bg_dark_blue;
    @include transition(.4s border ease-in);
    .bg-blue {
      color: $blue;
      @include transition(.3s color ease-in);
    }
  }


  .small {
    font-size: 14px;
    font-weight: 900;
  }
}


// Contact form

.contact-form {

  h2 {
    font-size: 30px;
  }

  .form-group {
    display: block;
    margin-top: 15px;
  }

  label {
    display: block;
    font-weight: 900;
    font-size: 14px;
    font-family: AvenirLTStd;
  }

  input, textarea {
    border: 1px solid #bfd1e1;
    border-radius: 3px;
    padding: 12px;
    width: 400px;
    font-family: AvenirLTStd;
    font-size: 18px;
    &:focus {
      border: 1px solid $bg_dark-blue;
    }

  }

  input {
    height: 40px;
  }

  button {
    color: $bg_dark-blue;
    font-weight: 900;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
  }

}

.footer-outer-wrap{
  @include display(flex);
  @include justify-content(center);
  background-color: $dark-gray;
  .footer {
    background-color: $dark-gray;
    min-height: 95px;
    height: 95px;
    width: 90%;
    // max-width: 1170px;
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);

    ul {
      margin: 0px;
      padding: 0;
    }

    ul li {
      display: inline-block;
      text-align: center;
      margin-right: 20px;
    }

    a, p, strong {
      color: $white;
      font-size: 14px;
      line-height: 23px;
      font-family: AvenirLTStd;
    }

    p {
    }

  }
}
