.link-text{
  font-family: AvenirLTStd;
  font-weight: 700;
  font-size: 14px;
}

.standard-blue-button {
    border: none;
    border-radius: 0;
	background-color: $bg_light-blue;
	&:hover {
		background-color: $bg_dark-blue ;
	}
	color: #fff;
}

.resend-email-notification{
  i{
    color: $dark-gray;
    font-size: 24px; 
  }
}

.add-supplier-to-bom{
  border:none;
  background-color: transparent;
}

.update-suppliers-btn{
  float:right;
}