@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800,700");

//Standard
@font-face {
    font-family: AvenirLTStd;
    src: url(../../fonts/AvenirLTStd-Roman.otf);
    font-weight: 500;
}

// Black
@font-face {
    font-family: AvenirLTStd;
    src: url(../../fonts/AvenirLTStd-Black.otf);
    font-weight: 700;
}

h1{
  font-family: AvenirLTStd;
  font-weight: 700;
  font-size: 50px;
}

h2{
  font-family: AvenirLTStd;
  font-weight: 500;
  font-size: 50px;
}

h3{
  font-family: AvenirLTStd;
  font-weight: 700;
  font-size: 10px;
}

.b1{
  font-family: AvenirLTStd;
  font-weight: 700;
  font-size: 16px;
}

.b2{
  font-family: AvenirLTStd;
  font-weight: 500;
  font-size: 16px;
}

.b3{
  font-family: AvenirLTStd;
  font-weight: 500;
  font-size: 12px;
}
