$admin-blue: #0575bd;
$admin-red: #de3314;
$admin-green: #37b148;
$admin-head-foot: #333740;

#app-layout{
    .navbar-header{
        @include display(flex);
        @include align-items(center);
        width: 40%;
        min-height: 74px;
        .navbar-link-wrap{
            margin: 0 3%;
            a{
                margin: 0 10px;
                color: white;
            }
        }
        a{
            &:hover, &:active{
                color: white !important;
            }
        }
    }
    .navbar-brand{
        padding: 0;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        img{
            margin-top: -7px;
        }
    }
}

footer{
    @include display(flex);
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    min-height: 60px;
    background: $admin-head-foot;
   .b2{
        color: white;
        font-weight: 100;
   }
}

#project-counter{
    background: $admin-red;
    border-radius: 20px;
    position:relative;
    top: -6px;
    left: -6px;
    padding: 4px 6px 1px 6px;
}


.info-card {
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 200px;
    border-radius: 10px;
}

.info-card-header {
    display: block;
    bottom: 15px;
    position: absolute;
    padding: 15px;

}

.info-card-header a {
    font-weight: 700;
    font-size: 18px;
}

.add i {
    font-size: 80px;
    display: block;
    height: 200px;
    border: 2px dashed $light-gray-border;
    border-radius: 10px;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-weight: normal;
    color: $dark-gray;
}

.add p{
    margin: 15px 0;
    text-decoration: underline;
}

.spaced {
    margin-top: 60px;
}

.project-grid-item{
    a{
        color: $dark-gray;
    }
}

.project-title{
    margin: 10px 0;
    font-weight: 800;
}
.new-login-wrap{ 

    h2{
        text-align:center;
    }
    .b1{
        text-align:center;   
        width: 60%;
        margin: 0 auto;
    }
}

