.resend-email-notification{
  // border: none;
  // background: transparent;
}

.suppier-item-wrap{
  .b3{
    margin-top: 10px;
  }
  input{
    width: 100%;
  }
}
#bom-notify-success{
  display: none;
  margin-top: 10px;
}

#pdf-preview {
  margin-bottom: 20px;
}

.response-detail {
  margin-top: 20px;
  .response-file {
    display: block;
    border: thin solid #ecf0f1;
    padding: 10px;
    background: #ecf0f1;
  }
  .b2{
    background: #2C3E50;
    color: white;
    margin-bottom: 2%;
    padding: 2%;
  }
}

.supplier-item-wrap{

}

.resend-email-notification{
  margin-top: 3%;
}

.response-header-wrap{
  @include display(flex);
  @include justify-content(space-between); 
  @include align-items(center);
} 
