.resend-email-notification{
  // border: none;
  // background: transparent;
}


.item-wrap{
  i{
    font-size: 24px;
    margin: 11px 3px 0px 0;
  }
}
.light-hr{
  border: 1px solid $light-gray-border;
  margin: 0;
}

.suppier-item-wrap{
  background: $admin-light-blue;
  border: none;
  box-shadow: none;
  .b3{
    margin-top: 10px;
  }
  .b2{
    color: $white;
  }
  input{
    width: 100%;
  }
  .supplier-link{
    span{
      font-weight:lighter;
      color: $light-gray-border;
    }
  }
}
#bom-notify-success{
  display: none;
  margin-top: 10px;
}

#copy-notify-success{
  color: white;
  display: none;
  font-size: 12px;
  word-wrap: break-word;
}

.comment-wrap, .response-header-wrap{
  padding-left: 15px;
  padding-right: 15px;
}

.comment-wrap{
  width: 100%;
}

.response-header-wrap{
  .response-inner-wrap-item{
    @include display(flex);
    width: 100%;
    .left-response-inner-wrap{
      width: 67%;
      padding: 1% 3% 0% 0;
      .response-header-content{
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(baseline);
        .b1:nth-of-type(2){
          font-size: 14px;
        }
      }
    }

    .right-response-inner-wrap{
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(flex-start);
      width: 33%;
      padding: 2% 0 0 0;
      button{
        width: 48%;
      }
    }
  }
} 

.response-detail-inner{
  background: white;
  border: 1px solid $light-gray-border;
  border-top: 0;
}

#pdf-preview {
  display: block;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
  width: 400px;
  margin-bottom: 20px;
  height: auto;
}

.submit-new-supplier-btn{
  button{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin-bottom: 6%;
    padding: 4% 4%;
    &:hover, &:active, &:focus, &:visited{
      background: transparent;
      border: 1px solid white;
    }
  }
}

.response-detail {
  .response-file {
    padding: 10px;
    display: block;
      a{
        color: $dark-gray;
        text-decoration: underline;
      }
  }
  .b2{
    padding: 2%;
    background: white;
    color: black;
    padding: 2%;
    border: 1px solid $light-gray-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.response-outer-wrap{
  .row:last-of-type{
    .response-detail-inner{
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-bottom: 4%;
    }
  
  }
}
.update-wrap{
  font-size: 16px;
  span{
    font-weight:lighter;
  }
}

.download-bom-link{
  color: black;
  text-decoration: underline;
  &:hover, &:active, &:focus, &:visited{
    color: black;
  }
  &:hover{
    text-decoration: underline;
  }  
}

.js-resend-email, .copy-link{
  background: none;
  color: $white;
  border: none;
  text-decoration: underline;
  padding: 0;
  &:hover, &:active, &:focus, &:visited{
    background-color: transparent;
  }
  &:hover{
    text-decoration: underline;
  }
}

.supplier-item-wrap{

}

.resend-email-notification, .copy-link{
  margin-top: 3%;
  margin-right: 3%;
}

.left-app-dash-outer-wrap{
  background: $admin-light-blue;

  @media screen and (min-width: 970px) {
    min-height: 100%;
  }

  .supplier-title{
    text-transform: uppercase;
    font-size: 14px !important;
    color: $white;
    margin: 10% 0;
  }
  .panel-body{
    padding: 0;
  }
  .supplier-item-wrap{
    .form-group{
      input{
        border: none;
        border-radius: 4px;
      }
    }
  }
}
.right-app-dash-outer-wrap{
  padding-left: 5% !important;
  h2{
    font-weight: lighter;
  }
}
