.resend-email-notification{
  // border: none;
  // background: transparent;
}

.suppier-item-wrap{
  .b3{
    margin-top: 10px;
  }
  input{
    width: 100%;
  }
}
#bom-notify-success{
  display: none;
  margin-top: 10px;
}

#pdf-preview {
  margin-bottom: 20px;
}

.response-detail {
  margin-top: 20px;
  .response-file {
    display: block;
    border-top: thin solid #ecf0f1;
    border-bottom: thin solid #ecf0f1;
    padding: 10px 0;
  }
}

.supplier-item-wrap{

}
