.resend-email-notification{
  // border: none;
  // background: transparent;
}

.suppier-item-wrap{
  .b3{
    margin-top: 10px;
  }
  input{
    width: 100%;
  }
}
#bom-notify-success{
  display: none;
  margin-top: 10px;
}

.supplier-item-wrap{

}
