#nav-desk{
  position: fixed;
  padding-bottom: 15px;
  .header-outer-wrap{
    @include display(flex);
    @include justify-content(space-between);
    margin: 1% 0 0 0;
    .header-item-wrap{ 
      img{

      }
      ul{
        @include display(flex);
        li{
          a{
            color: #fff;
            font-family: AvenirLTStd;
            font-size: 14px;
            span{
              @include transition(color .3s ease-out);
              &.signup {
                border: 1px solid $white;
                padding: 7px 20px;
                border-radius: 4px;
                @include transition(background .4s ease-out);
                @include transition(color .3s ease-out);
                &:hover{
                  color: $gray;
                  @include transition(color .3s ease-in);
                  @include transition(background .4s ease-in);
                  background: $white;
                  background-opacity: .75;
                }
              }
              &:hover{
                color: $main-nav-hover;
                @include transition(color .3s ease-in);
              }
            }
          }
        }
      }
    }
  }
}

#right-header-wrap{  
  width: 55%;
  max-width: 700px;
  @media screen and (max-width: 970px){
    display: none;
  }
  @media screen and (min-width: 971px) and (max-width: 1300px){
    width: 75%;
  }
  ul{
    @include justify-content(space-between);
  }
}

#mobile-nav-icon{
  @media screen and (min-width: 768px){
    display: none;
  }
  @include display(flex);
  @include align-items(center);
  i{
    font-size: 30px;
    color: white;
  }
}


#mobile-menu-wrap{
  display: none;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 9;
  width: 100vh;

}








