#nav-desk{
  position: fixed;
  .header-outer-wrap{
    @include display(flex);
    @include justify-content(space-between);
    margin: 1% 0 0 0;
    .header-item-wrap{ 
      img{

      }
      ul{
        @include display(flex);
        li{
          a{
            color: #fff;
            font-family: AvenirLTStd;
            font-size: 14px;
            margin: 0 15px;
            span{
              &.signup {
                border: thin solid $white;
                padding: 10px 20px;
                border-radius: 8px;
                @include flex-grow(2);
                &:hover{
                  color: $gray;
                  background: $white;
                  background-opacity: .75;
                }
              }
            }
          }
        }
      }
    }
  }
}
