#home-hero-wrap{
  background: url('../../images/home-header.jpg');
  background-size: cover;
  background-position: center center;
  padding: 15% 0;
  @media screen and (max-width: 767px){
    background: url('../../images/home-header-mobile.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 50% 0;
  }
  .hero-content-wrap{
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    h2{
      color: $white;
      margin: 0px;
      span{
        @extend h1;
      }
    }
    .b1{
      color: $white;
      font-weight: 700;
      // font-size: 18px;
      span{
        font-weight: 100;
        // font-size: 18px;
      }
    }
    a{
      margin-top: 40px;
      span{
        color: $white;
      }
    }
    .icon{
      color: white;
    }
  }
}