.copy{
  .b2{
    p{
      color: $dark-gray;
      strong{
        color: $dark-gray;
      }
    }
    a{
      p{
        color: $dark-blue;
        strong{
          color: $dark-blue;
          @include transition(color .4s ease-in);
          &:hover{
            color: $blue;
            @include transition(color .4s ease-out);
          }
          .icon{
            color: $dark-blue;
          }
        }
      }

    }
  }
  .build-head-wrap{
    @include display(flex);
    @include align-items(center);
    p{
      color: $dark-blue;
      margin: 0 10px 0 0;
      strong{
        color: $dark-blue;
      }
    }
    img{
      width: 200px;
    }
  }
}

.developer-interest-section{
  border-top: 1px solid $light-gray-border;
  border-bottom: 1px solid $light-gray-border;
  background: $white;
}